@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';

.object-fit-cover{
    object-fit: cover;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    display: block;
    .backdrop{
        position: absolute;
        width: 100%;
        height: 100%;
    }
}